@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@200&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #333333   ;
  --secondary-color: #3e80be ;

  
  /* change the values below to your chosen font(s) */
  --heading-font: "Montserrat";
  --paragraph-font: sans-serif;

}

body {
  background-color: #f9f9f9;
  font-family: var(--heading-font);
  margin: 0;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
  text-align: center;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}

p {
  font-family: var(--paragraph-font);
}

nav {
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin: 20px 0;
}

h2 {
  color: #3e80be;
  font-size: 1.5em;
  margin: 0 0 20px 0;
}

.images {
  display: flex;
  justify-content: space-between;
}

.images li {
  width: 30%;
}

.images img {
  width: 100%;
}

.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.artists li {
  width: 45%;
  margin-bottom: 20px;
}

.artists img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.artists h3 {
  color: #3e80be;
  font-size: 1.2em;
  margin: 10px 0;
}

#futureprojects ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #333333;
  color: white;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

#copyright {
  margin: auto;
}

.logo-text {
  margin: auto;
  margin-right: 0;
}

.logo-instagram, .logo-insta{
  width: 70px;
  margin: auto;
  margin-left: 20px;
}

  @media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
  
    main {
      flex-direction: column;
    }
  
    .artists li {
      flex: none;
      width: 100%;
    }
  }
  