@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Raleway:wght@200&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #86c4ba   ;
  --secondary-color: #f5dbdd ;
  --accent1-color: #f3f3f3;
  --accent2-color: #cedebd;

  /* change the values below to your chosen font(s) */
  --heading-font: "Raleway";
  --paragraph-font: Montserrat, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #02221c;  /* headlines on a white background */ 
  --headline-color-on-color: #21695c; /* headlines on a colored background */ 
  --paragraph-color-on-white: #86c4ba; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #02221c; /* paragraph text on a colored background */ 
  --paragraph-background-color: #86c4ba  ;
  --nav-link-color: #412A34;
  --nav-background-color: #f5dbdd;
  --nav-hover-link-color: #02221c;
  --nav-hover-background-color: #86c4ba;
}
body {
    margin: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#hero {
    text-align: center;
}

#hero-img {
    max-width: 1600px;
}

.topline {
    grid-column: 1/4;
    grid-row: 1/2;
    height: 25px;
    background-color: var(--nav-background-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* CAROUSEL */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(235, 235, 235);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgb(255, 255, 255, 0.5);
}

/* Position the "next button" to the right */

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

nav {
    display: flex;
    justify-content: space-around;
    grid-column: 2/3;
    font-size: 1.5em;
    font-family: var(--heading-font);
    font-weight: 500;
}

nav a {
    width: 150px;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #f0f0f0;
}

nav a:hover {
    background-color: var(--nav-background-color);
    transform: scale(0.9);
}

#logo_link {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: center;
    margin-top: 25px;
}

.logo {
    width: 30%;
}

h1, h2, a {
    font-family: var(--heading-font);
}

p {
    font-family: var(--paragraph-font);
}

a:link, a:hover, a:visited {
    text-decoration: none;

}

.prod-link {
    color: #02221c;
}

.prod-link:hover {
    transform: scale(1.05);
}

#products {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-top: 15px;
}

.prod-box {
    border: 1px solid #f1f1f1;
}

.product-1 {
    padding-right: 15px;
}

.product-2 {
    padding-right: 15px;
}

.product-3 {
    padding-right: 15px;
}

.prod-img {
    margin-top: 20px;
    width: 50%;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #F9F9F9;
}

.prod-img:hover {
    opacity: .8;
    transform: scale(1.05);
    transition: transform .3s;
}

#weekly-product {
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    text-align: center;
    height: 700px;
}

.weekly-img {
    z-index: 1;
    height: 600px;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 5px solid var(--nav-hover-background-color);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg {
    margin-left: 50px;
    padding: 0 50px;
    background-color: #F9F9F9;
    grid-column: 2/4;
    grid-row: 1/2;
    height: 700px;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    font-size: 2.5em;
    text-shadow: 5px 5px 10px #9b9c97;
}
.msg p {
    margin-top: 100px;
    font-size: 2em;
    text-align: left;
}

footer {
    margin-top: 100px;
    background-color: var(--nav-background-color);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
    height: 200px;
    padding: 50px;
    font-size: 1.2em;
}

.copy-right {
    grid-column: 2/3;
}

.site-plan {
    grid-column: 3/4;
}

.contact {
    grid-column: 4/5;
}

.logo-social {
    grid-column: 6/7;
}

/* PRODUCTS HTML */

#products-list {
    margin: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8fr;
    border: 1px solid #f1f1f1;
}

.item-img {
    width: 50%;
    object-fit: cover;
    border-radius: 15px;
}

.img-1{
    padding: 15px;
    grid-column: 1/2;
    text-align: center;
    margin-bottom: 25px;
}

.prod-1-text {
    grid-column: 2/3;
    padding-left: 20px;
    font-size: 1.2em;
    margin-bottom: 25px;
}

/* ABOUT US */

#title {
    text-align: center;
}

#feedback {
    text-align: center;
    list-style-type: none;
    font-family: var(--paragraph-font);
    font-size: 1.5em;
}

ul {
    list-style-type: none;
}


/* RESPONSIVE DESIGN */

@media screen and (max-width: 1150px) {
    #hero, #hero-box{
        display: block;
        height: auto;
    }
    header{
        height: 200px;
        font-size: 1em;
    }

    nav, footer {
        flex-direction: column;
        align-items: center;
    }
    nav a {
        display: block;
        padding: 15px;
        margin: 5px auto;
    }
    #hero {
        margin-top: 100px;
        text-align: center;
    }
    #hero-img {
        max-width: 100%;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .product-1, .product-2, .product-3 { 
        flex-direction: column;
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    
    .weekly-img, .msg {
        height: 20%;
        display: block;
        margin: 15px auto;
        font-size: 0.5em;
    }

    #weekly-product {
        margin: 30px auto;
        height: 500px;
    }

    .msg {
        background-color: white;
        grid-column: 2/4;
        grid-row: 1/2;
        box-shadow: 5px 5px 10px white;
        padding: 20px;
    }

    .msg p {
        margin: 0 auto;
        font-size: 1.8em;
    }

    footer {
        margin-top: 25px;
    }

    #contact-us {
        margin-top: 150px;
    }

}
       