
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@100;300&display=swap');

:root {
    --body-font: "Montserrat";
    --paragraph-font: Lato;
    --paragraph-font-2: Helvetica, sans-serif;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #fcfbfb;
    font-family: var(--body-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

header {
    background-color: #dcf0ff;
    display: grid;
    grid-template-columns: 150px auto;
    font-weight: bolder;
    opacity: 80%;
    height: 100px;
}

#logo_link {
    padding-top: 0px;
    justify-content: center;
    align-self: center;
    padding-bottom: 5px;
}

.logo {
    height: 100px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

nav a {
    color: #35494E;
    text-decoration: none;
    padding: 35px;
    border-radius: 5px;
}

nav a:hover {
    transition: color 0.5s ease;
    background-color: #35494E;
    color: white;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1 {
    color: white;
}

#hero-msg h4 {
    color: white
}

#hero-river {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-msg-river {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*border: 2px solid blue;*/
    margin-top: 50px;
}

.home-title {
    font-family: var(--body-font);
    font-size: 3em;
    margin: 10px;
}

.home-title-rivers {
    font-family: var(--body-font);
    font-size: 2.5em;
    margin: 10px;
    background-color: #35494E;
    opacity: 0.9;
    border-radius: 10px;
}

.button-box {
    margin: 30px;
}

.book, .join {
    background-color: #BEE9E8;
    color: #35494E;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #35494E;
    color: white;
    text-decoration: none;
}

main section {
    text-align: center;
    /*border: 2px solid green;*/
}

main section img {
    box-sizing: border-box;
}

.card-img {
    border: 10px solid #35494E;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.river-card-img {
    border: 10px solid #a0a5c4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
    width: 100%;
    height: auto;
}

#background {
    background-color: #BEE9E8;
    height: 725px;
    grid-column: 1/11;
    grid-row: 4/9;
}

.mountains {
    margin: 50px 0;
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}  

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}  

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}  

#hero-img {
    width: 100%;
}

.msg {
    background-color: #ffffff;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg h2 {
    font-family: var(--paragraph-font);
    font-size: 2em;
    color: #35494E;
}

.msg p {
    font-family: var(--paragraph-font-2);
    font-size: 2em;
    color: #35494E;
    padding-bottom: 15px;
}

#footer-home {
    background-color: #dcf0ff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    background-color: #dcf0ff;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}

footer p {
    font-size: 1.2em;
    padding: 10px;
}

footer p a:hover {
    transition: color 0.5s ease;
    font-size: 105%;
    color: rgb(54, 57, 218);
} 

#footer-river {
    background-color: #dcf0ff;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.river-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 75px;
    font-size: 1.5em;
    text-align: justify;
}

.river-card-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-bottom: 75px;
}

.river-card-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-bottom: 75px;
}

.river-card-3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.river-text-1 {
    grid-column: 2/5;
    grid-row: 1/2;
    margin: 0;
    padding-left: 30px;
}

.river-text-2 {
    grid-column: 2/5;
    grid-row: 2/3;
    margin: 0;
    padding-left: 30px;
}

.river-text-3 {
    grid-column: 2/5;
    grid-row: 3/4;
    margin: 0;
    padding-left: 30px;
}





form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    margin: 20px;
  }
  
  input,
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
  
    /* Uniform text field size */
    width: 350px;
    box-sizing: border-box;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 5em;
  }
  
  .button {
    /* Align buttons with the text fields */
    list-style: none;
    padding-left: 200px; /* same size as the label elements */
  }
  
  button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
    margin-top: 15px;
  }

  
  #feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
 
  }
  .moveDown {
      margin-top: 3em;
  }
                    
  


/* RESPONSIVE DESIGN */

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    header{
        height: 150px;
        font-size: 0.5em;
    }

    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
        font-size: 0.5em;
    }
    footer {
        margin-top: 25px;
    }
}
            